/* CSS Workaround for scrolling with fixed-top navbar */
body {
    margin-top: 40px;/* make room for the nav bar */
}

/* make room for the nav bar */
h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id],
dt[id]{
    padding-top: 60px;
    margin-top: -40px;
}

/* Background */
.jumbotron {
  background-image: url("img/brand.jpg");
  background-size: cover;
}

.text-shadow {
    text-shadow: 0 0 10px #000000;
}

/* Sponsors */
.sponsor {
    max-width: 300px;
    max-height: 200px;
}

.list-group-horizontal {
    margin-bottom: 20px;
}
